/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



/* footer */
#credit_box {border: 0; margin-top: 2em; margin-bottom: 1em;}
.citation {font-family: monospace; word-break: break-word;}

/* text area */
textarea { resize: vertical; }

/* options */
.form-group { margin-bottom: 0.5em; }
.option { margin-top: 0.6em; font-weight: 700;}
.option * {display: inline;}

/* table style */
table {font-family: 'Open Sans', sans-serif; font-weight: 300;}
.error, .decision_error {color:red;}
.decision_error {font-weight:600;}

/* for mobile */
@media (max-width: 575.98px) {
    .table { font-size: 66%; }
    .table.shiny-table>thead>tr>th, .table.shiny-table>thead>tr>td, 
    .table.shiny-table>tbody>tr>th, .table.shiny-table>tbody>tr>td, 
    .table.shiny-table>tfoot>tr>th, .table.shiny-table>tfoot>tr>td {
      padding-left: 0;
      padding-right: 5px;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #ccc;
    }
    
    .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #202020;
    }
    .table>tbody>tr>td,
    .table>thead>tr>th {
        border-color: #333;
    }
      
    
    .well {
        background-color: #0c0c0c;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }    
    
    .form-control {
      color: #ccc;
      background-color: #222;
      border: 1px solid #333;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }
    
    .btn-default {
      color: #ccc;
      background-color: #222;
      border-color: #333;
      border-top-color: rgb(50, 50, 50);
      border-right-color: rgb(50, 50, 50);
      border-bottom-color: rgb(50, 50, 50);
      border-left-color: rgb(50, 50, 50);
  }
  
  .error, .decision_error {color:#ff3333;}
}