#formatting_input *, #check_small_errors * {display: inline; font-weight: 700;}

#credit_box {border: 0; margin-top: 1em;}

#citation {font-family: monospace; word-break: break-word;}

#results {padding-top: 2em;}

.form-group { margin-bottom: 0.5em; }

.error {color:red;}
.decision_error {color:red; font-weight:bold;}